<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!--web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"-->

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.study.onlineshop.web.servlet.LoginServlet</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.study.onlineshop.web.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>productsServlet</servlet-name>
        <servlet-class>com.study.onlineshop.web.servlet.ProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productsServlet</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>productAddServlet</servlet-name>
        <servlet-class>com.study.onlineshop.web.servlet.ProductAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productAddServlet</servlet-name>
        <url-pattern>/product/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>productEditServlet</servlet-name>
        <servlet-class>com.study.onlineshop.web.servlet.ProductEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productEditServlet</servlet-name>
        <url-pattern>/product/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>productDeleteServlet</servlet-name>
        <servlet-class>com.study.onlineshop.web.servlet.ProductDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productDeleteServlet</servlet-name>
        <url-pattern>/product/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cartServlet</servlet-name>
        <servlet-class>com.study.onlineshop.web.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cartAddServlet</servlet-name>
        <servlet-class>com.study.onlineshop.web.servlet.CartAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cartAddServlet</servlet-name>
        <url-pattern>/cart/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cartEditServlet</servlet-name>
        <servlet-class>com.study.onlineshop.web.servlet.CartEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cartEditServlet</servlet-name>
        <url-pattern>/cart/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cartDeleteServlet</servlet-name>
        <servlet-class>com.study.onlineshop.web.servlet.CartDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cartDeleteServlet</servlet-name>
        <url-pattern>/cart/delete</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>UserSecurityFilter</filter-name>
        <filter-class>com.study.onlineshop.web.filters.UserSecurityFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>UserSecurityFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserSecurityFilter</filter-name>
        <url-pattern>/cart/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserSecurityFilter</filter-name>
        <url-pattern>/products</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>AdminSecurityFilter</filter-name>
        <filter-class>com.study.onlineshop.web.filters.AdminSecurityFilter</filter-class>
    </filter>

    <!--filter-mapping>
        <filter-name>UserSecurityFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping-->
    <filter-mapping>
        <filter-name>AdminSecurityFilter</filter-name>
        <url-pattern>/product</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminSecurityFilter</filter-name>
        <url-pattern>/product/*</url-pattern>
    </filter-mapping>

</web-app>